{% extends 'base.html' %}
{% block title %}Folders{% endblock %}
{% block content %}

<div class="container-fluid mt-2">
    <div class="row content">
        <div class="col-sm-2 sidenav"></div>
        <div class="col-sm-8 text-left">
            <div class="d-flex justify-content-between">
                <h3>Folders ({{ folders_count }}):</h3>
                <a class="btn btn-outline-secondary" href="{% url 'add_folder' %}">Add Folder</a>
            </div>
            <hr />
            <ul class="list-group text-left">
                {% for folder in folders %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="btn btn-link" href="{% url 'view_folder' folder.name %}">{{ folder.name }}</a>
                        <a class="btn btn-outline-warning btn-sm align-self-center" href="{% url 'edit_folder' folder.name %}">Edit</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-2 sidenav"></div>
    </div>
</div>

{% endblock content %}