{% extends 'base.html' %}

{% block title %}Vault{% endblock %}

{% block content %}
<div class="container-fluid text-center mt-2">
    <div class="row content">
        <div class="col-sm-2 sidenav"></div>
        <div class="col-sm-8 text-left">
            <div class="d-flex justify-content-between">
                <h3>Entries
                    {% if entries_no_folder_count != 0%}
                        ({{ entries_no_folder_count }}):
                    {% else %}:{% endif %}
                </h3>
                <a class="btn btn-outline-secondary" href="{% url 'add_item' %}">Add Entry</a>
            </div>
            <hr />
            {% for entry in entries %}
                {% if entry.folder is None %}
                    <p>
                        {{entry.name}}
                        <a href="{% url 'edit_item' entry.id %}">Edit</a>
                        <a href="{% url 'view_item' entry.id %}">View</a>
                    </p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-sm-2 sidenav"></div>
    </div>
</div>
{% endblock %}